.DS_Store
.vagrant*
/src/protected/config/main.php
/src/protected/runtime/*
!/src/protected/runtime/.empty
/src/lib/composer.lock
/src/lib/vendor/*
/src/assets/*
!/src/assets/.empty
.buildpath
.project
.settings
*.swp
