@CHARSET "UTF-8";

html, body {
	/* font-size: 24px; */
}

/* Hack to fix a display issue with bootstrap modals */
body.modal-open {
	margin-right: 0px;
}

.header-wrapper {
	background-color: #d7d7d7;
	margin-bottom: 10px;
}

h1.header {
	font-size: 42px;
	margin-top: 10px;
	font-style: italic;
}

div.content {
	margin-top: 10px;
	min-height: 400px;
}

.contact {
	border-bottom: 1px solid #c7c7c7;
	font-size: 24px;
}

.footer {
	font-size: 14px;
	opacity: 0.75;
}